#panel {
width: 400px; 
margin: 0 auto; 
padding: 15px 0 0;
background: #fff;
border: 1px solid silver;
font: 16px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver; 
-moz-box-shadow: 0 0 2px silver; 
box-shadow: 0 0 2px silver;
}
form {
margin: 0;
}

label {
display: block;
width: 260px;
padding: 10px 20px;
color: #696969;
font-size: 16px;
text-shadow: 0 0 1px silver;
}

#username, #password {
display: block;
width: 360px; 
margin: 0 auto;
padding: 10px 5px;
border: 1px solid silver;
outline: 5px solid #ebebeb;
font-size: 22px;
}
#username:focus, #password:focus {
outline: 5px solid #a90089;
}

#lower {
background: #d3d3d3;
width: 400px;
padding: 5px 20px;
margin-top: 20px;
}

.check {
display: inline;
float: none;
font-size: 11px;
padding: 5px;
}
input[type="submit"] {
width: 120px;
padding: 5px 13px;
border: 1px solid 	#a90089;
color: white;
text-shadow: 0 0 1px black;
background: #a95089;
position: relative;
left: 0px;
}

#panel, input[type="submit"] {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.gap{
margin-top: 25px;
}

.gap2{
margin-top: 45px;
}

#map{
height: 30em;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.current {
	background-color: black;
}

.kolo {
					 border-radius: 50%;
					 height: 250px;
					 width: 240px;
}

.left {
	text-align: left;
	line-height: 1.8;
	font-size: 18px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.mid {
	text-align: center;
	line-height: 1.8;
	font-size: 18px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.big {
	text-align: center;
	line-height: 1.8;
	font-size: 32px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logowanie {
	text-align: center;
	line-height: 1.8;
	font-size: 22px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.apic {
	 border: 2px solid black;
	 height: 20%;
	 width: 20%;
 }

.line{

	border-radius: 25%;
	width: 100%;
	background-color: silver;
	height: 100%;
	float: left;
	margin-top: 5px;
	margin-bottom: 50px;
}

.titel{

	color: black;
	-webkit-text-fill-color: white;
	font-size: 38px;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;

}